<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sendboro</title>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'style/css/font-awesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/css/team.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/css/head.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/css/nprogress.css' %}">
       
        <script src="{% static 'js/vendor/angular.min.js' %}"></script>
        <script src="{% static 'js/vendor/angular-ui.min.js' %}"></script>
        <script src="{% static 'js/vendor/angular-cookies.min.js' %}"></script>
        <script src="{% static 'js/vendor/angular-animate.min.js' %}"></script>
        <script src="{% static 'js/vendor/nprogress.js' %}"></script>
        <script src="{% static 'js/vendor/ngscroll.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/controller/panel.js' %}"></script>
        <script src="{% static 'js/controller/auth.js' %}"></script>
        <script src="{% static 'js/directive/utildirective.js' %}"></script>
        <script src="{% static 'js/directive/initdirective.js' %}"></script>
        <script src="{% static 'js/service/util.js' %}"></script>
    </head>
    <body class="pigeo-home" ng-app="init">
    	<route-loader></route-loader>
    	<div ui-view class="view-transit" ng-class="uiTransit"></div>
    </body>
</html>
