<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sendboro Code Acknowledgement</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'style/css/generic.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'style/css/font-awesome.css' %}">
	</head>
	<body>
		<div class="outer-container">
			<div class="logo">
				<img src="{% static 'resource/picture/boro-logo-xs.png' %}" alt="">
			</div>
			<div class="main-container">
				{% if expired %}
					<i class="fa fa-bullhorn"></i>
					<div class="quote">
						 <div>
						 	This link lived for a while and died.
						</div>
					</div>
					<div class="message">
						<h3>Amen!</h3>
						Why don't you just go out and breathe some fresh air?<br /> It will help you to move on.
					</div>
				{% elif success == True %}
					<i class="fa fa-bullhorn"></i>
					<div class="quote">
						<div>
						 	When everything goes down, God wants us to look up.
						</div>
					</div>
					<div class="message">
						<h3>Great.</h3> We received your acknowledgement. <br />We will authorise you shortly.
						<div class="footer-message">
							If you didn't request this and clicked on the link by mistake, tell us <a href="">here</a> 
							and we will take care of rest.
						</div>
					</div>
				{% endif %}
			</div>
			<div class="footer">
				Sendboro &copy; 2016
			</div>
		</div>
	</body>
</html>