        	<div class="feature-display" ng-class="featureClass">
        		<div class="item" ng-class="itemOneClass"> 
        		  <div class="icon">
        		  	<i class="fa fa-envelope"></i>
        		  </div>
        		  <div class="desc">
        		  	Text Your Files
        		  </div>
        		  <div class="detail">
        		  	Your file (with message) will reach recipients' phone as a 
        		  	text message. Recipients don't 
        		  	need to be user of sendboro.
        		  </div>
				</div>
        		<div class="item" ng-class="itemTwoClass">
        			<div class="icon"><i class="fa fa-cloud"></i></div>
        			<div class="desc">
        				Keep Forever
        			</div>
        			<div class="detail">
        				Files will never be deleted.
        				Send files to yourself to turn us into your private cloud.
        			</div>
        		</div>
        		<div class="item" ng-class="itemThreeClass">
					<div class="icon"><i class="fa fa-heartbeat"></i></div>
        			<div class="desc">
        				Bots Care
        			</div>
        			<div class="detail">
        				Runs in background. Received files get auto-stored to disk.
        				Right-click on files to send directly from explorer.
        			</div>
				</div>
				<div class="item" ng-class="itemOneClass"> 
					<div class="icon"><i class="fa fa-inbox"></i></div>
        			<div class="desc">
        				Emails, No More
        			</div>
        			<div class="detail">
        				Files will be sent &amp; recieved natively, without any need of email address.
        			</div>
				</div>
				<div class="item" ng-class="itemTwoClass">
					<div class="icon"><i class="fa fa-users"></i></div>
        			<div class="desc">
        				Managed Contacts
        			</div>
        			<div class="detail">
        				Just tap/click on contacts to send files
        				or simply drag &amp; drop files over contact pictures. 
        			</div>
				</div>
				<div class="item" ng-class="itemThreeClass">
					<div class="icon"><i class="fa fa-phone"></i></div>
        			<div class="desc">
        				Unforgettable Passwords 
        			</div>
        			<div class="detail">
        				You just need a phone no. to use sendboro.
        				Just don't lose your phone. 
        			</div>
				</div>
				
				<div class="item" ng-class="itemOneClass">
					<div class="icon"><i class="fa fa-fighter-jet"></i></div>
        			<div class="desc">
        				Fast & Furious
        			</div>
        			<div class="detail">
        				Get quite good and less hair-pulling experience even in low-speed connections. 
        			</div>
				</div>
				
				<div class="item" ng-class="itemTwoClass">
					<div class="icon"><i class="fa fa-lock"></i></div>
        			<div class="desc">
        				Protected, all the way long
        			</div>
        			<div class="detail">
        				Highly secure transfers. Receive files only from trusted senders.
        			</div>
				</div>
				
				<div class="item" ng-class="itemThreeClass">
					<div class="icon"><i class="fa fa-toggle-on"></i></div>
        			<div class="desc">
        				Grandpa simple!
        			</div>
        			<div class="detail">
        				As simple as toggling a switch on/off. Try sendboro at your Grandpa without any disaster! 
        			</div>
				</div>
				
				<div class="item" ng-class="itemOneClass">
					<div class="icon"><i class="fa fa-server"></i></div>
        			<div class="desc">
        				Size Doesn't Matter
        			</div>
        			<div class="detail">
        				Servers configured to handle large files. Just choose an appropriate plan 
        				and enjoy unlimited transfers. 
        			</div>
				</div>
				
				<div class="item" ng-class="itemTwoClass">
					<div class="icon"><i class="fa fa-life-ring"></i></div>
        			<div class="desc">
        				Less Failures
        			</div>
        			<div class="detail">
        				File sending failed? We will keep trying to send in background unless you stop us.
        			</div>
				</div>
				
				<div class="item" ng-class="itemThreeClass">
					<div class="icon"><i class="fa fa-credit-card"></i></div>
        			<div class="desc">
        				Easy on Pockets
        			</div>
        			<div class="detail">
        				No Ads. 90-day free trial. After that cheapest plan starts from Re. 1/month or Rs. 10/year. 
        			</div>
				</div>
        	</div>
			