{% load staticfiles %}

<div ng-controller="panelController as panels">
	 <div class="insulating-cover" ng-hide="!panels.isAuthShown()" ng-class="shifterClass"></div>
	 <div class="splash-container" ng-class="shifterClass">
     	<img src="{% static 'resource/splash/splash-new.jpg' %}" alt="">
     </div>
        
     <div class="splash-container-cover" ng-class="shifterClass">
     </div>
        
        <div class="header" id="zero-top" ng-click="incrementFocus()" ng-class="shifterClass">
        	
       		<div class="enter-site-button alternate"
       			ng-class="alternateEnterClass" 
       			ng-click="panels.toggleAuthPanel()">
         		<div class="signup-text">enter</div>
        	 	<div class="signin-text">return</div>
         	</div>
         	 	 
        	<a href="/">
            	<div class="logo">
                	<img src="{% static 'resource/picture/boro-logo-xs.png' %}" alt="">
            	</div>
         	</a>	
        </div>
        
        <div class="main-content-container" ng-class="shifterClass">
        <div class="main-content">
        	<div class="main-text" ng-class="coverTextAnimateClass">
        		Send Good.<br />
        		Receive Good.
        		<div class="credit">- a paraphrase from Bible/Gita/Quran</div>
        	</div>
        	
        	<!-- The single sign-on button -->
        	<div class="right-float-container">
        		<div class="enter-site-button" ng-click="panels.toggleAuthPanel()" 
        			ng-class="coverTextAnimateClass">
        	 		<div class="signup-text">sign in</div>
        	 		<div class="signin-text">sign up</div>
        		</div>
        	</div>
        	<div class="main-text-desc"  ng-class="coverTextAnimateClass">
        		<strike>The best</strike> A good enough way <br /> to share files on Internet.	
        	</div>
        	<div class="know-how-button" ng-click="panels.toggleComeOverPage()" 
        		ng-class="coverTextAnimateClass">
        		<i class="fa fa-info-circle"></i> Know How
        	</div>
        </div>
        </div>
        
        <!--  the second page -->
        <div class="come-over-page" id="co-page" ng-scroll="panels.wrapUpContent($event)" 
        		ng-class="shifterClass">
        	
			<feature-panel></feature-panel>
			
			<!-- Feature Panel Navigator -->
			<div class="feature-browse right" ng-click="panels.slideFeature(1)" 
				ng-hide="panels.isPageShown(1) || panels.isSlideShown(4)">
        		&gt;
			</div>
			<div class="feature-browse left" ng-click="panels.slideFeature(0)" ng-hide="panels.isSlideShown(1)">
        		&lt;
			</div>
        	
        	<!-- footer links -->
        	<div class="bottom-panel">
        		<a href="">Plans</a> &middot; Payment &middot; Cast & Crew &middot; Terms of use
        	</div>
        </div>
        
        <!-- Authentication Panel -->
      
      	<auth-panel></auth-panel> 
      </div>