/*

style for authentication-panel at homepage

*/

.auth-panel-container {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	z-index:7;
	background:rgba(224,240,252,0.97);
	
	.auth-box {
		width:600px;
		height: 100%;
		margin:0 auto;
		@include transition(all linear 0.4s);
		
		&.ng-hide {
			opacity:0;
			@include scaleTransform(0.3,0.3);
		}
	}
	
	@include transition(all linear 0.2s);
	
	&.ng-hide {
		opacity:0;
	}
	
	.exit-button {
		width:60px;
		margin:90px auto;
		margin-bottom:20px;
		color: white;
		font: normal 13pt/1 'BoroHero', arial, sans-serif;
		@include radius(4px);
		border: solid 1px #808080;
		color: #808080;
		padding:4px;
		cursor:pointer;
		
		&:hover {
			background: #808080;
			color: white; 
		}
	}
	
	
	.quote {
		margin: 20px auto;
		margin-bottom:10px;
		padding:20px;
		border-top: solid 1px #d0d0e0;
		color: #4080d0;
		font: normal 20pt/2.5 'BoroChunkFive', arial, sans-serif;
		
		.credit {
			margin-top: 5px;
			font-size:12pt;
			font-style: italic;
		}
	}
	
	.description {
		font: normal 12pt/1.6 'BoroHero', arial, sans-serif;
		width:400px;
		margin: auto;
		color:#404060;
	}
	
	.signon-form {
		margin:20px auto;
		width:400px;
		font: normal 14pt/1.6 'BoroHero', arial, sans-serif;
		text-align:center;
		
		.country-list {
			width:100%;
			color: #606060;
			background: lighten($sweet-blue,20);
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			@include radius(0);
			padding:10px;
			text-align: left;
			color:white;
			cursor: pointer;
			font-size:13pt;
		}
		
		input {
			padding: 10px;
			margin-top:10px;
			font: normal 14pt/1.6 'BoroHero', arial, sans-serif;
			color: #404060;
			&.dialcode-list {
				width: 55px;
				color: #0890f0;
			}
			
			&.phone-num {
				width: 298px;
			}
		}
		
		button {
			background: none;
			padding:10px;
			padding-bottom:0;
			line-height:1;
			margin:10px auto;
			font-size: 32pt;
			color: $sweet-blue;
			cursor: pointer;
			@include transition(all linear 0.3s);
			
			&.hide-button {
				opacity:0;
				@include translate(200px,0);
			}
		}
	}
	
	.error-disp {
		font: normal 11pt/1.5 'BoroHero', arial, sans-serif;
		color: $my-red;
		padding:10px;
		border-right: solid 4px lighten($my-red, 20);
		background: lighten($my-red, 44);
		margin-top: -60px;
		
		@include transition(all linear 0.2s);
		
		&.ng-hide {
			opacity:0;
			@include translate(-200px, 0);
		} 
	}
	
	.auth-loader {
		margin-top: -53px;
	}
}

.code-verify-scene {
	.quote {
		font-size: 16pt;
		
		.credit {
			font-size: 11pt;	
		}
	}
}
