 
.logo {
	margin: 90px auto;
	margin-bottom: 10px;
	text-align:center;
}

 .upper-pb {
 	position:absolute;
 	top: 230px;
 	width: 300px;
 	margin-left: -150px;
 	left: 50%;	
	text-align: center;
}

.lower-pb {
	margin:100px auto;
	margin-bottom: 40px;
	text-align:center;
	width:200px;
}

.quote-container {
	margin:0;
	padding:20px;
	text-align: center;
	background: $rumy-green;
	color: #fff;
	
	.quote {
		margin:0 auto;
		width: 260px;
		text-align:right;
		font: italic normal normal 18pt/1.6 'sinkinsans','pigeosans',arial, sans-serif;
	}
	strong{
		font-size:20pt;
	}
}

.wait-text {
	font: normal 11pt/1.8 'sinkinsans','pigeosans',arial, sans-serif;
	margin:60px auto;
	margin-bottom:0;
	width:400px;
	text-align:center;
}
