/* 
    Created on : 13 Feb, 2015, 11:50:47 AM
    Author     : Gunjan Seth & Alpika Singhal
    Ghost Author : kris
*/

@import "vars";
@import "mixins";
@import "common";
@import "auth-panel";

a.gen {
	color:white;
	
	&:link {
		text-decoration : none;
	}
	
	&:hover {
    	color : #e0f0e0;
    	text-decoration : none;
	}
	
}

html{
background: white;
}

.splash-container {
    position : fixed;
    height : 70%;
    width : 100%;
    overflow:hidden;
    min-height : 300px;
    
    img {
    	position : absolute;
    	top:0;
    	left:0;
    	width: 100%;
    	height : auto;
    	min-height : 100%;
    	min-width : 1024px;
	}
}
 
.splash-container-cover {
    position : absolute;
    height : 70%;
    width : 100%;
    overflow:hidden;
    min-height : 400px;
}

.header {
    position : fixed;
    top : 8%;
    width : 100%;
    height : 70px;
    background-color : black;
    background-color :rgba(0,0,0,0.6);
    -moz-box-shadow : 0 0 2px 0 #101010;
    -o-box-shadow : 0 0 2px 0 #101010;
    -webkit-box-shadow : 0 0 2px 0 #101010;
    -ms-box-shadow : 0 0 2px 0 #101010;
    box-shadow : 0 0 2px 0 #101010;
    min-width : 700px;
}


.logo {
        margin-left : 40px;
        float : left;
}

.header-links-container {
    float : right;
    margin-right : 90px;
}

.header-links {
    height : 70px;
    text-align : center;
    vertical-align : middle;
    padding : 0 40px 0 40px;
    font: normal normal normal 12pt/70px 'pigeosans', 'sinkinsans', arial,helvetica, sans-serif;
}

.cover-text {
    position : absolute;
    bottom : 23%;
    width : 100%;
   
    text-align : right;
    min-width : 1024px;
}

.cover-title {
    padding-right : 150px;
    font : normal bold normal 40pt/1 'pigeosans', 'sinkinsans', arial,helvetica, sans-serif;
    color : white;
     .cover-desc {
    	padding-top : 15px;
    	font : normal normal normal 18pt/1.2 'pigeosans', 'sinkinsans', arial,helvetica, sans-serif;
	}
}



.middle-panel-container {
     position : absolute;
     top:0;
     left:0;
     height : 100%;
     width : 100%;
     min-height : 430px;
     min-width : 1024px;
}

.middle-panel {
    position : absolute;
    top : 70%;
    height : 300px;
    width : 100%;   
    text-align : justify;
    text-justify : distribute;
    background: white;
}

.middle-box {
    width : 280px;
    height : 260px;
    border : solid 1px #c0c0c0;
    margin : 20px 80px; 
    background : rgb(255,255,255);
    -moz-box-shadow : 0 0 8px 0 rgb(60,175,165);
    -ms-box-shadow : 0 0 8px 0 rgb(60,175,165);
    -webkit-box-shadow : 0 0 8px 0 rgb(60,175,165);
    -o-box-shadow : 0 0 8px 0 rgb(60,175,165);
    box-shadow : 0 0 8px 0 rgb(60,175,165);
    
    -moz-border-radius : 3px;
    -webkit-border-radius : 3px;
    -ms-border-radius : 3px;
    -o-border-radius : 3px;
    border-radius : 3px;
    font : normal normal normal 12pt/1 'sinkinsans', arial, helvetica, sans-serif;
    text-align : center;
    color : black;
    
    &.center-box {
    	margin : -30px 0;
    	height : 360px;
    	color : #4a5a05;
	}
}

.left-box { 
    margin-right : 0;
     color : #9e1b4a;
}
.right-box {
    margin-left : 0;
    color : #0f617b;
}

.features-icon {
    margin : 10px auto;
    width : 100px;
    height : 100px;
    
     img  {
		width : 100%;
		height : auto;
		min-width: 100%;
		min-height : auto;
	}
}

.features-title {
    font-size : 18pt;
   
}

.features-desc {
    padding : 15px 20px;
    line-height : 1.5;
    color : #303030;
}

.bottom-panel-container {
    position : absolute;
    margin-top : 60px;
    background : #0f617b;
    background-image: url("../../resource/pattern/teal/teal-1.png");
    height : 150px;
    width : 100%;
}

.bottom-text {
    font : normal normal normal 11pt/2 'pigeosans', 'sinkinsans', arial,helvetica, sans-serif;
    width : 500px;
    text-align : center;
    margin : 30px auto;
    color : #e5e5e5;
}
.bottom-link {
    width : 100px;
}
.copy-notice {
    margin-top : 20px;
    color : #c0c0c0;
    font-size : 10pt;
}

.logout-msg {
	position:fixed;
	top:90px;
	width: 400px;
	left:50%;
	margin-left: -200px;
	@extend %small-msg-box;
}

