/* 
    Created on : 13 Feb, 2015, 11:50:47 AM
    Author     : Gunjan Seth & Alpika Singhal
    Ghost Author : kris
*/
@CHARSET "ISO-8859-1";
/*
Property of Pigeo
All rights reserved
Pigeo  2015 
*/
@font-face {
  font-family: 'sinkinsans';
  src: url("webfont/SinkinSans-300Light-webfont.eot");
  src: url("webfont/SinkinSans-300Light-webfont.eot?#iefix") format("embedded-opentype"), url("webfont/SinkinSans-300Light-webfont.woff") format("woff"), url("webfont/SinkinSans-300Light-webfont.ttf") format("truetype"), url("webfont/SinkinSans-300Light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BoroChunkFive';
  src: url("webfont/Chunkfive-webfont.eot");
  src: url("webfont/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("webfont/Chunkfive-webfont.woff") format("woff"), url("webfont/Chunkfive-webfont.ttf") format("truetype"), url("webfont/Chunkfive-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BoroHero';
  src: url("webfont/hero.eot");
  src: url("webfont/hero.eot?#iefix") format("embedded-opentype"), url("webfont/hero.woff2") format("woff2"), url("webfont/hero.woff") format("woff"), url("webfont/hero.ttf") format("truetype"), url("webfont/hero.svg#heroregular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  alignment-baseline: baseline;
  alignment-adjust: baseline;
  font-size: 100%;
  font: inherit; }

sup {
  font-size: xx-small;
  vertical-align: super; }

strong {
  font-weight: bold; }

body {
  overflow-y: auto;
  margin: 0;
  line-height: 1; }
  body.fix {
    height: 100%;
    overflow: hidden; }

div {
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: keep-all; }

html {
  font-family: 'BoroHero', 'sinkinsans', arial, helvetica, sans-serif; }

img {
  vertical-align: middle;
  border: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: inherit; }

input, button, select {
  -webkit-outline: none;
  -moz-outline: none;
  outline: none; }
  input::-moz-focus-outer, button::-moz-focus-outer, select::-moz-focus-outer {
    border: 0; }

.bold {
  font-weight: bold; }

.not-bold {
  font-weight: normal; }

.default-cursor {
  cursor: default; }

div.decent-text {
  padding: 8px;
  font-size: 12px;
  color: #606060;
  line-height: 1.5; }

div.error-text {
  padding: 8px;
  font-size: 12px;
  color: #aa6887; }

.topofall {
  z-index: 5; }

.arrow {
  position: absolute;
  width: 0;
  height: 0; }

.invisible {
  visibility: hidden; }

.display {
  display: block; }

textarea {
  overflow-y: auto; }

p {
  margin-bottom: 10px; }

.tiny-error {
  padding: 5px;
  background-color: #ffe0e0;
  border: solid 1px #ffbaba;
  font-family: tahoma, 'droidsans', helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #505050;
  visibility: hidden; }

.stretch {
  width: 100%;
  height: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0; }

.faded-text {
  color: #777; }

.inline-box {
  display: inline;
  padding: 0 2px; }

.visible {
  visibility: visible; }

.dnone {
  display: none; }

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.inline-middle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  alignment-adjust: middle; }

.inline-top {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top; }

.inline-bottom {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: bottom; }

.back-cover-container img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 1024px;
  z-index: -1; }

.img-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }

.pgo-input {
  font: normal 15pt/1 'pigeosans', 'sinkinsans', arial, sans-serif;
  width: 400px;
  padding: 10px;
  border: solid 1px #a0d0d0;
  height: 45px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .pgo-input:focus {
    width: 400px;
    padding: 10px;
    border: solid 1px #5caeae;
    height: 45px;
    -moz-box-shadow: 0 0 10px 0 #3ca5af;
    -webkit-box-shadow: 0 0 10px 0 #3ca5af;
    -o-box-shadow: 0 0 10px 0 #3ca5af;
    -ms-box-shadow: 0 0 10px 0 #3ca5af;
    box-shadow: 0 0 10px 0 #3ca5af;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

.pgo-button {
  font: normal 14pt/1 'pigeosans', 'sinkinsans', arial, sans-serif;
  width: 200px;
  height: auto;
  padding: 15px;
  border: groove 2px #0b8dff;
  background: #0065bd;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white; }
  .pgo-button:active {
    border: ridge 2px #0083f5; }
  .pgo-button.medsize {
    font-size: 12pt;
    width: 110px;
    height: auto;
    padding: 10px;
    border: auto;
    background: #0065bd;
    -moz-border-radius: false;
    -o-border-radius: false;
    -ms-border-radius: false;
    -webkit-border-radius: false;
    border-radius: false; }
  .pgo-button.disabled {
    background: #505a50;
    border: groove 2px #687568;
    cursor: not-allowed; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.small-cross {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d1121e;
  padding: 3px 8px;
  font: normal 13pt/1 'sinkinsans',arial,sans-serif;
  cursor: pointer;
  -moz-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0; }

.gen-dialog {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 520px;
  margin-left: -250px;
  background: white;
  font: normal 12pt/1 'pigeosans','sinkinsans',arial, sans-serif;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  z-index: 2;
  -moz-box-shadow: 0 0 90px 0 #b0b0b0;
  -webkit-box-shadow: 0 0 90px 0 #b0b0b0;
  -o-box-shadow: 0 0 90px 0 #b0b0b0;
  -ms-box-shadow: 0 0 90px 0 #b0b0b0;
  box-shadow: 0 0 90px 0 #b0b0b0; }
  .gen-dialog .dialog-head {
    -moz-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    padding: 20px 0;
    background: #303030;
    -moz-box-shadow: 0 0 7px 1px #303030;
    -webkit-box-shadow: 0 0 7px 1px #303030;
    -o-box-shadow: 0 0 7px 1px #303030;
    -ms-box-shadow: 0 0 7px 1px #303030;
    box-shadow: 0 0 7px 1px #303030;
    color: #f0f0f0; }
  .gen-dialog .dialog-lower {
    border-top: solid 1px #dadada; }

.bigfont {
  font-size: 19pt; }

.italic {
  font-style: italic; }

.pale-blue {
  color: #347856; }

.alert-text {
  color: #a95645; }

.mid-size-text {
  font-size: 10pt; }

.mid-more-text {
  font-size: 12pt;
  line-height: 1.5; }

.loader-cover-small {
  position: relative;
  width: 34px;
  height: 34px;
  background: transparent;
  margin-left: -38px; }

.view-transit.ng-enter {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1; }
.view-transit.ng-enter {
  opacity: 0; }
.view-transit.ng-enter.ng-enter-active {
  opacity: 1; }
.view-transit.ng-leave.ng-leave-active {
  opacity: 0; }
.view-transit.ui-disappear {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  opacity: 0; }

.logout-msg {
  color: #5d4d13;
  text-align: center;
  font: normal 10pt/1.6 'sinkinsans','pigeosans',arial, sans-serif;
  padding: 10px;
  background: #F8F2DC;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #f0e2b2; }

.loader-template .progress-bar-container, .loader-template .loading-failed {
  width: 360px;
  margin: 20px auto;
  text-align: center; }

.loader-template {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fffff6; }
  .loader-template .app-logo {
    width: 360px;
    text-align: center;
    margin: 250px auto;
    margin-bottom: 20px;
    height: 100px; }
  .loader-template .progress-bar-container {
    border: solid 2px #47ca86;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 11px; }

.loader-error {
  margin-left: -115px;
  text-align: center;
  width: 250px;
  font: normal normal normal 13pt/2 'pigeosans','sinkinsans',arial,sans-serif; }

.invalid-entry {
  -webkit-animation: shake 0.8s;
  -o-animation: shake 0.8s;
  -moz-animation: shake 0.8s;
  -ms-animation: shake 0.8s;
  animation: shake 0.8s; }
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
.red-border {
  border: solid 1px red; }

.italic {
  font-style: italic; }

/*

style for authentication-panel at homepage

*/
.auth-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 7;
  background: rgba(224, 240, 252, 0.97);
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .auth-panel-container .auth-box {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s; }
    .auth-panel-container .auth-box.ng-hide {
      opacity: 0;
      -ms-transform: scale(0.3, 0.3);
      -webkit-transform: scale(0.3, 0.3);
      -o-transform: scale(0.3, 0.3);
      -moz-transform: scale(0.3, 0.3);
      transform: scale(0.3, 0.3); }
  .auth-panel-container.ng-hide {
    opacity: 0; }
  .auth-panel-container .exit-button {
    width: 60px;
    margin: 90px auto;
    margin-bottom: 20px;
    color: white;
    font: normal 13pt/1 'BoroHero', arial, sans-serif;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #808080;
    color: #808080;
    padding: 4px;
    cursor: pointer; }
    .auth-panel-container .exit-button:hover {
      background: #808080;
      color: white; }
  .auth-panel-container .quote {
    margin: 20px auto;
    margin-bottom: 10px;
    padding: 20px;
    border-top: solid 1px #d0d0e0;
    color: #4080d0;
    font: normal 20pt/2.5 'BoroChunkFive', arial, sans-serif; }
    .auth-panel-container .quote .credit {
      font-size: 12pt;
      font-style: italic; }
  .auth-panel-container .description {
    font: normal 12pt/1.6 'BoroHero', arial, sans-serif;
    width: 400px;
    margin: auto;
    color: #404060; }
  .auth-panel-container .signon-form {
    margin: 20px auto;
    width: 400px;
    font: normal 14pt/1.6 'BoroHero', arial, sans-serif;
    text-align: center; }
    .auth-panel-container .signon-form .country-list {
      width: 100%;
      color: #606060;
      background: #57b1ff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      padding: 10px;
      text-align: left;
      color: white;
      cursor: pointer;
      font-size: 13pt; }
    .auth-panel-container .signon-form input {
      padding: 10px;
      margin-top: 10px;
      font: normal 14pt/1.6 'BoroHero', arial, sans-serif;
      color: #404060; }
      .auth-panel-container .signon-form input.dialcode-list {
        width: 55px;
        color: #0890f0; }
      .auth-panel-container .signon-form input.phone-num {
        width: 298px; }
    .auth-panel-container .signon-form button {
      background: none;
      padding: 10px;
      padding-bottom: 0;
      line-height: 1;
      margin: 10px auto;
      font-size: 32pt;
      color: #0080f0;
      cursor: pointer;
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      .auth-panel-container .signon-form button.hide-button {
        opacity: 0;
        -webkit-transform: translate(200px, 0);
        -ms-transform: translate(200px, 0);
        -o-transform: translate(200px, 0);
        -moz-transform: translate(200px, 0);
        transform: translate(200px, 0); }
  .auth-panel-container .error-disp {
    font: normal 11pt/1.5 'BoroHero', arial, sans-serif;
    color: #E02D4E;
    padding: 10px;
    border-right: solid 4px #ed8699;
    background: #fdf1f3;
    margin-top: -60px;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s; }
    .auth-panel-container .error-disp.ng-hide {
      opacity: 0;
      -webkit-transform: translate(-200px, 0);
      -ms-transform: translate(-200px, 0);
      -o-transform: translate(-200px, 0);
      -moz-transform: translate(-200px, 0);
      transform: translate(-200px, 0); }
  .auth-panel-container .auth-loader {
    margin-top: -53px; }

.auth-panel .form-box .signup-box, .auth-panel .form-box .signin-box {
  margin: auto;
  text-align: center; }
  .auth-panel .form-box .signup-box .head-text, .auth-panel .form-box .signin-box .head-text {
    padding: 10px;
    font: normal bold normal 22pt/1.5 'pigeosans', 'sinkinsans', arial, sans-serif;
    color: black; }
    .auth-panel .form-box .signup-box .head-text .ultra, .auth-panel .form-box .signin-box .head-text .ultra {
      font-size: 32pt;
      color: #60d0d0; }
  .auth-panel .form-box .signup-box input, .auth-panel .form-box .signin-box input {
    margin: 30px auto 20px auto; }

.auth-panel {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10%;
  width: 100%;
  height: 100%;
  z-index: 2;
  font: normal 14pt/1 'pigeosans','sinkinsans', sans-serif;
  background: rgba(255, 255, 255, 0.9);
  visibility: hidden; }
  .auth-panel .form-box {
    margin: 0 auto;
    width: 70%;
    height: 350px;
    min-width: 640px;
    border-left: solid 20px #505050;
    border-right: solid 20px #505050;
    background: rgba(255, 255, 255, 0.6); }
    .auth-panel .form-box .signin-box input {
      margin: 20px auto 10px auto; }
    .auth-panel .form-box .signin-box input.pgo-phrase {
      width: 454px; }
    .auth-panel .form-box .invalid-input-1-add, .auth-panel .form-box .invalid-input-2-add {
      -webkit-animation: shake 0.7s;
      -o-animation: shake 0.7s;
      -moz-animation: shake 0.7s;
      -ms-animation: shake 0.7s;
      animation: shake 0.7s;
      border-color: red; }
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
    .auth-panel .form-box .invalid-input-1, .auth-panel .form-box .invalid-input-2 {
      border-color: red; }

.area-code {
  font-size: 14pt;
  margin-right: 8px;
  background-color: #0080f0;
  padding: 9px 8px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white; }

.signup-hint {
  font: normal 8pt/1 'sinkinsans','pigeosans',arial, sans-serif; }

.auth-panel {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .auth-panel.visible {
    visibility: visible; }
  .auth-panel.ng-hide {
    opacity: 0;
    width: 0;
    left: 50%; }

.form-box {
  -webkit-transition: all linear 0.6s;
  -moz-transition: all linear 0.6s;
  -ms-transition: all linear 0.6s;
  -o-transition: all linear 0.6s;
  transition: all linear 0.6s; }

.form-box.ng-hide {
  opacity: 0;
  width: 0;
  -webkit-transform-style: flat;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.big-cross {
  position: absolute;
  top: 20px;
  font: normal 40pt/1 'sinkinsans', arial, sans-serif;
  color: #505050;
  padding: 0; }
  .big-cross.left {
    left: 30px; }
  .big-cross.right {
    right: 30px; }
  .signup-form .big-cross input[type='reset'], .signin-form .big-cross input[type='reset'] {
    color: transparent;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none; }

.form-box .form-extra {
  float: right;
  font: normal 8pt/1 'sinkinsans','droidsans', sans-serif;
  margin: -10px 20px 0 0; }
  .form-box .form-extra a.auth-form-link {
    color: #0065bd; }

.auth-problem-panel {
  height: 450px;
  visibility: hidden;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .auth-problem-panel.visible {
    visibility: visible; }
  .auth-problem-panel .ap-head-panel {
    text-align: center;
    font-size: 14pt;
    color: #efefef; }
  .auth-problem-panel .ap-middle-panel {
    height: 320px;
    font: normal 11pt/1 'sinkinsans','pigeosans','droidsans', arial, sans-serif;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s; }
    .auth-problem-panel .ap-middle-panel ul.auth-prob-list-container {
      padding: 18px 25px; }
    .auth-problem-panel .ap-middle-panel li {
      padding: 15px;
      list-style: none;
      cursor: pointer;
      border: solid 1px transparent; }
      .auth-problem-panel .ap-middle-panel li:hover {
        font-weight: bold;
        background: #66b8ff;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: solid 1px #299bff; }
      .auth-problem-panel .ap-middle-panel li.selected {
        font-weight: bold;
        color: #004a8a; }
    .auth-problem-panel .ap-middle-panel .glyphicon-ok-sign {
      margin-right: 4px;
      -webkit-transition: all linear 0.1s;
      -moz-transition: all linear 0.1s;
      -ms-transition: all linear 0.1s;
      -o-transition: all linear 0.1s;
      transition: all linear 0.1s; }
      .auth-problem-panel .ap-middle-panel .glyphicon-ok-sign.ng-hide {
        font-size: 0; }
    .auth-problem-panel .ap-middle-panel.ng-hide {
      margin-left: -100px; }
  .auth-problem-panel .ap-lower-panel .pgo-button {
    float: right;
    margin: 13px 25px; }
  .auth-problem-panel.ng-hide {
    height: 0;
    top: 50%;
    -webkit-transform-style: flat;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg); }

.success-report {
  top: 15%;
  z-index: 4;
  text-align: center;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .success-report .phone-verify-middle {
    font: normal 12pt/1.8 'sinkinsans','pigeosans';
    padding: 30px 70px;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s; }
    .success-report .phone-verify-middle input.veri-code {
      margin: 30px 0; }
  .success-report .phone-verify-lower .pgo-button.medsize {
    float: right;
    margin: 13px 25px; }

.success-report.ng-hide {
  width: 0;
  margin-left: 0; }

.phone-verify-middle.ng-hide {
  height: 0; }

div.dialog-middle.phone-verify-middle.takinghome {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  div.dialog-middle.phone-verify-middle.takinghome.ng-hide {
    height: 0;
    -webkit-transform-style: flat;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  div.dialog-middle.phone-verify-middle.takinghome img.loader {
    margin: 35px auto; }

div.dialog-middle.phone-verify-middle.codeprobe-panel {
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s; }
  div.dialog-middle.phone-verify-middle.codeprobe-panel.ng-hide {
    width: 0;
    -webkit-transform-style: flat;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg); }

.view-transit.ng-enter {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 0; }
.view-transit.ng-enter.ng-enter-active {
  opacity: 1; }

.signin-box .head-text {
  margin: 40px auto 10px auto; }

a.gen {
  color: white; }
  a.gen:link {
    text-decoration: none; }
  a.gen:hover {
    color: #e0f0e0;
    text-decoration: none; }

html {
  background: white; }

.splash-container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-height: 400px;
  min-width: 750px;
  top: 0;
  left: 0;
  z-index: 1; }
  .splash-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: 1024px; }

.splash-container-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-height: 400px;
  z-index: 2; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 8;
  /*background-color : black;*/
  /* background-color :rgba(100,0,0,1);*/
  /*@include linear-gradient-top(#404040,transparent);*/
  border-bottom: solid 5px rgba(200, 200, 200, 0.4);
  min-width: 700px; }

.logo {
  float: left;
  height: 60px;
  margin-left: 10px; }

.main-content {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  text-align: center;
  font: normal 13pt/1.8 'BoroHero',arial, sans-serif;
  background: transparent;
  z-index: 4; }
  .main-content .main-text, .main-content .main-text-desc {
    -webkit-transition: linear all 0.3s;
    -moz-transition: linear all 0.3s;
    -ms-transition: linear all 0.3s;
    -o-transition: linear all 0.3s;
    transition: linear all 0.3s; }
    .main-content .skew-text.main-text, .main-content .skew-text.main-text-desc {
      -ms-transform: scale(0.5, 0.5);
      -webkit-transform: scale(0.5, 0.5);
      -o-transform: scale(0.5, 0.5);
      -moz-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
      opacity: 0; }
  .main-content .main-text {
    font-size: 28pt;
    font-family: 'BoroChunkFive';
    color: #435d70;
    padding-bottom: 20px;
    border-bottom: solid 1px #c0c0c0; }
    .main-content .main-text .credit {
      font-size: 16pt;
      color: #567890;
      font-style: italic; }
  .main-content .main-text-desc {
    margin-top: 40px;
    font-size: 20pt;
    color: #587b93; }

.enter-site-button {
  position: fixed;
  width: 240px;
  left: 50%;
  margin-left: -120px;
  padding: 10px 15px;
  top: 350px;
  text-align: right;
  background: #0080f0;
  color: white;
  font: normal 13pt/1.8 'BoroHero',arial, sans-serif;
  z-index: 7;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s; }
  .enter-site-button .signin-text {
    font-size: 18pt;
    margin-top: 20px; }
  .enter-site-button.translate-to-bottom {
    -webkit-transform: translate(0, 190%);
    -ms-transform: translate(0, 190%);
    -o-transform: translate(0, 190%);
    -moz-transform: translate(0, 190%);
    transform: translate(0, 190%); }

.dictionary-words {
  position: fixed;
  top: 540px;
  width: 100%;
  left: 0;
  font: normal 9pt/1.3 'BoroHero',arial,sans-serif;
  color: rgba(250, 250, 250, 0.2);
  z-index: 6;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .dictionary-words .word-meaning {
    width: 270px;
    margin-left: 45px; }
    .dictionary-words .word-meaning.file {
      float: right;
      margin-right: 45px; }
    .dictionary-words .word-meaning .heading {
      font-size: 11pt; }
    .dictionary-words .word-meaning .part-of-speech {
      font-size: 10pt; }
  .dictionary-words.hide-meaning {
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0; }
  .dictionary-words.bring-on-next {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    color: rgba(100, 100, 100, 0.7);
    opacity: 1; }

.scroll-more-text {
  position: fixed;
  bottom: 0px;
  width: 260px;
  left: 50%;
  z-index: 9;
  text-align: center;
  margin-left: -130px;
  font: normal 13pt/1.6 'BoroHero', arial, sans-serif;
  color: white;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .scroll-more-text.pull-down {
    top: 0;
    bottom: auto;
    font-size: 9pt; }
    .scroll-more-text.pull-down .inline-middle {
      -moz-border-radius: 0 0 0 5px;
      -o-border-radius: 0 0 0 5px;
      -ms-border-radius: 0 0 0 5px;
      -webkit-border-radius: 0 0 0 5px;
      border-radius: 0 0 0 5px;
      height: 12px;
      background: rgba(80, 80, 80, 0.5); }
    .scroll-more-text.pull-down .draw-icon {
      -moz-border-radius: 0 0 5px 0;
      -o-border-radius: 0 0 5px 0;
      -ms-border-radius: 0 0 5px 0;
      -webkit-border-radius: 0 0 5px 0;
      border-radius: 0 0 5px 0;
      background: rgba(60, 60, 60, 0.7);
      margin-left: -4px; }
  .scroll-more-text .inline-middle {
    padding: 7px;
    background: rgba(80, 80, 80, 0.7);
    cursor: pointer;
    height: 20px;
    -moz-border-radius: 5px 0 0 0;
    -o-border-radius: 5px 0 0 0;
    -ms-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0; }
  .scroll-more-text .draw-icon {
    -moz-border-radius: 0 5px 0 0;
    -o-border-radius: 0 5px 0 0;
    -ms-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    margin-left: -5px;
    padding: 7px 14px;
    background: rgba(60, 60, 60, 0.9); }
  .scroll-more-text.ng-hide {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }

.come-over-page {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(255, 255, 255, 0.8);
  font: normal 12pt/1.6 'BoroHero', arial,sans-serif;
  min-width: 750px; }
  .come-over-page.fix-comeover {
    position: fixed; }
  .come-over-page .main-text {
    width: 600px;
    text-align: center;
    margin: 90px auto;
    margin-bottom: 20px;
    font-family: 'BoroChunkFive', arial, sans-serif;
    font-size: 15pt;
    color: #6090c0; }
    .come-over-page .main-text .credit {
      margin-top: 5px;
      font-size: 11pt;
      font-style: italic;
      color: #729dc7; }
  .come-over-page .feature-display {
    margin-top: 40px;
    width: 400%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s; }
    .come-over-page .feature-display .item.show-items {
      opacity: 1;
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      transform: scale(1, 1); }
    .come-over-page .feature-display .item {
      flex: 0 1 auto;
      text-align: center;
      width: 210px;
      padding: 20px 15px;
      color: #606050;
      background: rgba(210, 210, 190, 0.1);
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: solid 1px #eaeaea;
      opacity: 0;
      -ms-transform: scale(0.5, 0.5);
      -webkit-transform: scale(0.5, 0.5);
      -o-transform: scale(0.5, 0.5);
      -moz-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s; }
      .come-over-page .feature-display .item .icon {
        margin: 0px auto;
        font-size: 35px;
        color: #4aa0d2; }
      .come-over-page .feature-display .item .desc {
        font-size: 22pt;
        margin: 10px auto;
        color: #808030; }
      .come-over-page .feature-display .item .detail {
        line-height: 1.4; }
    .come-over-page .feature-display.show-slide-2 {
      -webkit-transform: translate(-25%, 0);
      -ms-transform: translate(-25%, 0);
      -o-transform: translate(-25%, 0);
      -moz-transform: translate(-25%, 0);
      transform: translate(-25%, 0); }
    .come-over-page .feature-display.show-slide-3 {
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
    .come-over-page .feature-display.show-slide-4 {
      -webkit-transform: translate(-75%, 0);
      -ms-transform: translate(-75%, 0);
      -o-transform: translate(-75%, 0);
      -moz-transform: translate(-75%, 0);
      transform: translate(-75%, 0); }
  .come-over-page .bottom-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 10pt;
    color: #505050;
    text-align: center;
    background: rgba(180, 180, 180, 0.6); }
  .come-over-page .feature-browse {
    position: relative;
    font: normal 70pt/1 'BoroHero', arial, sans-serif;
    color: rgba(190, 190, 190, 0.7);
    margin-top: -180px;
    cursor: pointer;
    width: 40px; }
    .come-over-page .feature-browse.left {
      text-align: right; }
    .come-over-page .feature-browse.right {
      float: right; }
    .come-over-page .feature-browse:hover {
      color: #73b5dc; }

.header-links-container {
  float: right;
  margin-right: 90px;
  display: none; }

.header-links {
  height: 70px;
  text-align: center;
  vertical-align: middle;
  padding: 0 40px 0 40px;
  font: normal normal normal 12pt/70px 'pigeosans', 'sinkinsans', arial,helvetica, sans-serif; }

.cover-text {
  position: absolute;
  bottom: 23%;
  width: 100%;
  text-align: right;
  min-width: 1024px;
  display: none; }

.cover-title {
  padding-right: 150px;
  font: normal bold normal 40pt/1 'pigeosans', 'sinkinsans', arial,helvetica, sans-serif;
  color: white; }
  .cover-title .cover-desc {
    padding-top: 15px;
    font: normal normal normal 18pt/1.2 'pigeosans', 'sinkinsans', arial,helvetica, sans-serif; }

.copy-notice {
  margin-top: 20px;
  color: #c0c0c0;
  font-size: 10pt; }

.logout-msg {
  position: fixed;
  top: 90px;
  width: 400px;
  left: 50%;
  margin-left: -200px; }

/*# sourceMappingURL=head.css.map */
