/*
Error: Invalid CSS after "      	margin-left": expected "{", was "}"
        on line 75 of /home/gunjan/Workspace/sendboro/html/style/sass/head.scss

70: .logo {
71:         background-color: red;
72:         float : left;
73:       	height:60px;
74:       	margin-left
75: }
76: 
77: .header-links-container {
78:     float : right;
79:     margin-right : 90px;
80:     display:none;

Backtrace:
/home/gunjan/Workspace/sendboro/html/style/sass/head.scss:75
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:1162:in `expected'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:1098:in `expected'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:1093:in `tok!'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:638:in `block'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:658:in `block_child'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:639:in `block'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:632:in `ruleset'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:657:in `block_child'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:650:in `block_contents'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:117:in `stylesheet'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/scss/parser.rb:42:in `parse'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/engine.rb:403:in `_to_tree'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:410:in `run'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/exec/base.rb:52:in `parse'
/usr/local/share/gems/gems/sass-3.4.18/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/share/gems/gems/sass-3.4.18/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"      	margin-left\": expected \"{\", was \"}\"\A         on line 75 of /home/gunjan/Workspace/sendboro/html/style/sass/head.scss\A \A 70: .logo {\A 71:         background-color: red;\A 72:         float : left;\A 73:       	height:60px;\A 74:       	margin-left\A 75: }\A 76: \A 77: .header-links-container {\A 78:     float : right;\A 79:     margin-right : 90px;\A 80:     display:none;"; }
