@charset "UTF-8";
@CHARSET "ISO-8859-1";
/*
Property of Pigeo
All rights reserved
Pigeo ⌐ 2015 
*/
@font-face {
  font-family: 'pigeosans';
  src: url("webfont/montserrat-regular-webfont.eot");
  src: url("webfont/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("webfont/montserrat-regular-webfont.woff2") format("woff2"), url("webfont/montserrat-regular-webfont.woff") format("woff"), url("webfont/montserrat-regular-webfont.ttf") format("truetype"), url("webfont/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'droidsans';
  src: url("webfont/droidsans-webfont.eot");
  src: url("webfont/droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("webfont/droidsans-webfont.woff2") format("woff2"), url("webfont/droidsans-webfont.woff") format("woff"), url("webfont/droidsans-webfont.ttf") format("truetype"), url("webfont/droidsans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sinkinsans';
  src: url("webfont/SinkinSans-300Light-webfont.eot");
  src: url("webfont/SinkinSans-300Light-webfont.eot?#iefix") format("embedded-opentype"), url("webfont/SinkinSans-300Light-webfont.woff") format("woff"), url("webfont/SinkinSans-300Light-webfont.ttf") format("truetype"), url("webfont/SinkinSans-300Light-webfont.svg#sinkin_sans300_light") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  alignment-baseline: baseline;
  alignment-adjust: baseline;
  font-size: 100%;
  font: inherit; }

strong {
  font-weight: bold; }

body {
  overflow-y: auto;
  margin: 0;
  line-height: 1; }

div {
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: keep-all; }

html {
  font-family: 'pigeosans', 'sinkinsans', 'droidsans', arial, helvetica, sans-serif; }

img {
  vertical-align: middle;
  border: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: inherit; }

.bold {
  font-weight: bold; }

.not-bold {
  font-weight: normal; }

.default-cursor {
  cursor: default; }

div.decent-text {
  padding: 8px;
  font-size: 12px;
  color: #606060;
  line-height: 1.5; }

div.error-text {
  padding: 8px;
  font-size: 12px;
  color: #aa6887; }

.topofall {
  z-index: 5; }

.arrow {
  position: absolute;
  width: 0;
  height: 0; }

.invisible {
  visibility: hidden; }

.display {
  display: block; }

textarea {
  overflow-y: auto; }

p {
  margin-bottom: 10px; }

.tiny-error {
  padding: 5px;
  background-color: #ffe0e0;
  border: solid 1px #ffbaba;
  font-family: tahoma, 'droidsans', helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #505050;
  visibility: hidden; }

.stretch {
  width: 100%;
  height: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0; }

.faded-text {
  color: #777; }

.inline-box {
  display: inline;
  padding: 0 2px; }

.visible {
  visibility: visible; }

.dnone {
  display: none; }

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.inline-middle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  alignment-adjust: middle; }

.inline-top {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top; }

.inline-bottom {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: bottom; }

.back-cover-container img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 1024px;
  z-index: -1; }

.img-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }

.pgo-input {
  font: normal 15pt/1 'pigeosans', 'sinkinsans', arial, sans-serif;
  width: 400px;
  padding: 10px;
  border: solid 1px #a0d0d0;
  height: 45px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .pgo-input:focus {
    width: 400px;
    padding: 10px;
    border: solid 1px #5caeae;
    height: 45px;
    -moz-box-shadow: 0 0 10px 0 #3ca5af;
    -webkit-box-shadow: 0 0 10px 0 #3ca5af;
    -o-box-shadow: 0 0 10px 0 #3ca5af;
    -ms-box-shadow: 0 0 10px 0 #3ca5af;
    box-shadow: 0 0 10px 0 #3ca5af;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

.pgo-button {
  font: normal 14pt/1 'pigeosans', 'sinkinsans', arial, sans-serif;
  width: 200px;
  height: auto;
  padding: 15px;
  border: groove 2px #0a8dff;
  background: #0065bd;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white; }
  .pgo-button:active {
    border: ridge 2px #0083f5; }
  .pgo-button.medsize {
    font-size: 12pt;
    width: 110px;
    height: auto;
    padding: 10px;
    border: auto;
    background: #0065bd;
    -moz-border-radius: false;
    -o-border-radius: false;
    -ms-border-radius: false;
    -webkit-border-radius: false;
    border-radius: false; }
  .pgo-button.disabled {
    background: #505a50;
    border: groove 2px #687568;
    cursor: not-allowed; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.small-cross {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d1121e;
  padding: 3px 8px;
  font: normal 13pt/1 'sinkinsans',arial,sans-serif;
  cursor: pointer;
  -moz-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0; }

.gen-dialog {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 520px;
  margin-left: -250px;
  background: white;
  font: normal 12pt/1 'pigeosans','sinkinsans',arial, sans-serif;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  z-index: 2;
  -moz-box-shadow: 0 0 90px 0 #b0b0b0;
  -webkit-box-shadow: 0 0 90px 0 #b0b0b0;
  -o-box-shadow: 0 0 90px 0 #b0b0b0;
  -ms-box-shadow: 0 0 90px 0 #b0b0b0;
  box-shadow: 0 0 90px 0 #b0b0b0; }
  .gen-dialog .dialog-head {
    -moz-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    padding: 20px 0;
    background: #303030;
    -moz-box-shadow: 0 0 7px 1px #303030;
    -webkit-box-shadow: 0 0 7px 1px #303030;
    -o-box-shadow: 0 0 7px 1px #303030;
    -ms-box-shadow: 0 0 7px 1px #303030;
    box-shadow: 0 0 7px 1px #303030;
    color: #f0f0f0; }
  .gen-dialog .dialog-lower {
    border-top: solid 1px #dadada; }

.bigfont {
  font-size: 19pt; }

.italic {
  font-style: italic; }

.pale-blue {
  color: #347856; }

.alert-text {
  color: #a95645; }

.mid-size-text {
  font-size: 10pt; }

.mid-more-text {
  font-size: 12pt;
  line-height: 1.5; }

.loader-cover-small {
  position: relative;
  width: 34px;
  height: 34px;
  background: transparent;
  margin-left: -38px; }

.view-transit.ng-enter {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1; }
.view-transit.ng-enter {
  opacity: 0; }
.view-transit.ng-enter.ng-enter-active {
  opacity: 1; }
.view-transit.ng-leave.ng-leave-active {
  opacity: 0; }
.view-transit.ui-disappear {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  opacity: 0; }

.logout-msg {
  color: #5d4d12;
  text-align: center;
  font: normal 10pt/1.6 'sinkinsans','pigeosans',arial, sans-serif;
  padding: 10px;
  background: #F8F2DC;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid 2px #efe2b2; }

.view-loader {
  position: fixed;
  width: 64px;
  height: 64px;
  top: 200px;
  left: 50%;
  margin-left: -32px;
  background-color: transparent;
  z-index: 5; }

.loader-error {
  margin-left: -115px;
  text-align: center;
  width: 250px;
  font: normal normal normal 13pt/2 'pigeosans','sinkinsans',arial,sans-serif; }

.invalid-entry {
  -webkit-animation: shake 0.8s;
  -o-animation: shake 0.8s;
  -moz-animation: shake 0.8s;
  -ms-animation: shake 0.8s;
  animation: shake 0.8s; }
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes shake {
  0% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  10% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  30% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  40% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  50% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  60% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  70% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  80% {
    -webkit-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0); }
  90% {
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); } }
.red-border {
  border: solid 1px red; }

.italic {
  font-style: italic; }

.widget-container {
  width: 500px;
  height: 500px;
  background: white;
  border: solid 1px #e0e0e0;
  margin: 5% auto;
  margin-bottom: 10px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 50px 0 #dcdcdc;
  -webkit-box-shadow: 0 0 50px 0 #dcdcdc;
  -o-box-shadow: 0 0 50px 0 #dcdcdc;
  -ms-box-shadow: 0 0 50px 0 #dcdcdc;
  box-shadow: 0 0 50px 0 #dcdcdc;
  font: normal 10pt/1 'sinkinsans', 'pigeosans', arial, helvetica, sans-serif;
  -ms-transform: scale(0.4, 0.4);
  -webkit-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
  -moz-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.4); }
  .widget-container.animateWidget {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); }
  .widget-container .widget-header {
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 0 20px;
    background: dimgray;
    color: white;
    height: 50px;
    overflow: hidden; }
    .widget-container .widget-header .widget-icon {
      width: 50px;
      float: right;
      font-size: 15pt;
      color: white;
      text-align: right;
      height: 50px;
      line-height: 50px;
      vertical-align: middle; }

.upload-button-container {
  margin-left: 50px;
  margin-bottom: 8px;
  padding: 6px 5px;
  border: solid 1px #e7e7e7;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  color: #5879b0;
  cursor: pointer;
  width: 140px;
  text-align: center; }
  .upload-button-container .glyphicon {
    font-size: 20px; }
  .upload-button-container:hover {
    background: #f0f0f0; }

.inpt-upload.photo {
  position: relative;
  margin-top: -42px;
  margin-right: 7px;
  float: right;
  width: 141px;
  font-size: 25px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer; }

.widget-error {
  position: absolute;
  top: 40px;
  right: 25px;
  width: 150px;
  font-size: 11px;
  line-height: 1.6;
  background: #f0d090;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #ebbf68;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .widget-error.ng-hide {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg); }

.widget-header .stab {
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  margin-left: -4px;
  cursor: pointer;
  -moz-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  -moz-box-shadow: 0 0 2px 0 #404040;
  -webkit-box-shadow: 0 0 2px 0 #404040;
  -o-box-shadow: 0 0 2px 0 #404040;
  -ms-box-shadow: 0 0 2px 0 #404040;
  box-shadow: 0 0 2px 0 #404040; }
  .widget-header .stab.active {
    background: #868686; }
  .widget-header .stab.active:hover {
    background: #868686; }
  .widget-header .stab:hover {
    background: #606060; }

.widget-body {
  padding: 20px 0;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg); }
  .widget-body .subsettings {
    padding: 20px;
    border-bottom: solid 1px #e0e0e0; }
    .widget-body .subsettings .subsettings-header {
      height: 40px;
      line-height: 40px;
      vertical-align: middle; }
  .widget-body .dp-preview {
    margin-left: 22px;
    width: 150px;
    height: 150px;
    border: solid 1px #e0f0f0;
    margin-bottom: 10px;
    overflow: hidden; }
    .widget-body .dp-preview .dp-progress-bar {
      position: relative;
      margin-top: -148px;
      height: 100%;
      width: 0;
      background: #23a0f0;
      background: rgba(60, 130, 200, 0.8); }
    .widget-body .dp-preview img {
      width: 100%;
      height: auto; }
  .widget-body .subsettings-content {
    height: 40px;
    margin-left: 30px; }
    .widget-body .subsettings-content .pgo-input {
      width: 300px; }
    .widget-body .subsettings-content .old-value {
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      width: 300px;
      color: #c040a0;
      font-size: 9pt; }
    .widget-body .subsettings-content .glyphicon {
      margin-left: 20px;
      font-size: 13pt;
      color: #50a090;
      cursor: pointer; }
      .widget-body .subsettings-content .glyphicon:hover {
        color: #6db6a7; }
  .widget-body.panel-active {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg); }

.widget-body.advanced .subsettings {
  padding-left: 30px; }
.widget-body.advanced .subsettings-content {
  margin-left: 0px;
  margin-top: 10px; }
.widget-body.advanced .old-value.safe-del {
  width: 100px; }
.widget-body.advanced .sd-detail {
  color: #a0a0a0;
  font-style: italic;
  font-size: 7pt; }

img.loader {
  margin-left: 14px; }

.widget-container {
  width: 500px;
  height: 500px;
  background: white;
  border: solid 1px #e0e0e0;
  margin: 5% auto;
  margin-bottom: 10px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 50px 0 #dcdcdc;
  -webkit-box-shadow: 0 0 50px 0 #dcdcdc;
  -o-box-shadow: 0 0 50px 0 #dcdcdc;
  -ms-box-shadow: 0 0 50px 0 #dcdcdc;
  box-shadow: 0 0 50px 0 #dcdcdc;
  font: normal 10pt/1 'sinkinsans', 'pigeosans', arial, helvetica, sans-serif;
  -ms-transform: scale(0.4, 0.4);
  -webkit-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
  -moz-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.4); }
  .widget-container.animateWidget {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); }
  .widget-container .widget-header {
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 0 20px;
    background: dimgray;
    color: white;
    height: 50px;
    overflow: hidden; }
    .widget-container .widget-header .widget-icon {
      width: 50px;
      float: right;
      font-size: 15pt;
      color: white;
      text-align: right;
      height: 50px;
      line-height: 50px;
      vertical-align: middle; }

.upload-button-container {
  margin-left: 50px;
  margin-bottom: 8px;
  padding: 6px 5px;
  border: solid 1px #e7e7e7;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f7f7f7;
  color: #5879b0;
  cursor: pointer;
  width: 140px;
  text-align: center; }
  .upload-button-container .glyphicon {
    font-size: 20px; }
  .upload-button-container:hover {
    background: #f0f0f0; }

.inpt-upload.photo {
  position: relative;
  margin-top: -42px;
  margin-right: 7px;
  float: right;
  width: 141px;
  font-size: 25px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer; }

.widget-error {
  position: absolute;
  top: 40px;
  right: 25px;
  width: 150px;
  font-size: 11px;
  line-height: 1.6;
  background: #f0d090;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #ebbf68;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .widget-error.ng-hide {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg); }

.widget-header .widget-title {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 12pt; }

.widget-body.send-page {
  padding: 30px;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg); }
  .widget-body.send-page .send-desc {
    line-height: 2; }
  .widget-body.send-page .inpt-container {
    padding: 20px 0px; }
  .widget-body.send-page .upload-button-container {
    margin: 0;
    margin-top: 10px; }
    .widget-body.send-page .upload-button-container.dummy {
      cursor: not-allowed;
      margin: 0;
      margin-top: -35px;
      opacity: 0;
      width: 143px; }
  .widget-body.send-page .inpt-upload.file {
    opacity: 0;
    margin-top: -34px;
    padding: 0;
    width: 138px;
    font-size: 25px; }
  .widget-body.send-page .upload-progress {
    margin-top: 20px;
    padding: 20px 5px;
    border-top: solid 1px #f6f6f6;
    height: 100px; }
    .widget-body.send-page .upload-progress .widget-error {
      position: static;
      margin: 0 auto; }
    .widget-body.send-page .upload-progress .small-loader {
      width: 50px;
      margin: 0 auto; }
  .widget-body.send-page .dnd-suggestion {
    margin-top: 20px;
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
    padding: 20px 5px;
    font-size: 8pt;
    line-height: 1.8;
    color: #a0a0a0; }

.gen-dialog.blind-send {
  top: 13%;
  left: 49.5%;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .gen-dialog.blind-send .dialog-head {
    font-size: 15pt;
    padding-left: 20px; }
  .gen-dialog.blind-send .dialog-middle {
    font: normal 10pt/2 'sinkinsans','pigeosans','droidsans',arial, sans-serif;
    padding: 20px; }
  .gen-dialog.blind-send .dialog-lower {
    padding: 20px 15px; }
    .gen-dialog.blind-send .dialog-lower .negative {
      width: 250px;
      background: #808080;
      border-color: #9a9a9a; }
    .gen-dialog.blind-send .dialog-lower .btn-container {
      float: right;
      padding-bottom: 20px; }
  .gen-dialog.blind-send.ng-hide {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg); }

.upload-progress-bar .progress-line {
  background: #FF9933;
  height: 8px;
  width: 0%;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: -ms-linear-gradient(top, #FF9933 0%, #ffbf80 100%);
  background-image: -moz-linear-gradient(top, #FF9933 0%, #ffbf80 100%);
  background-image: -o-linear-gradient(top, #FF9933 0%, #ffbf80 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF9933), color-stop(1, #ffbf80));
  background-image: -webkit-linear-gradient(top, #FF9933 0%, #ffbf80 100%);
  background-image: linear-gradient(to bottom, #FF9933 0%, #ffbf80 100%); }
.upload-progress-bar .progress-bulb {
  margin-left: -10px;
  width: 8px;
  height: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #e67300;
  -moz-box-shadow: 0 0 20px 5px #ff7f00;
  -webkit-box-shadow: 0 0 20px 5px #ff7f00;
  -o-box-shadow: 0 0 20px 5px #ff7f00;
  -ms-box-shadow: 0 0 20px 5px #ff7f00;
  box-shadow: 0 0 20px 5px #ff7f00;
  background-image: -ms-linear-gradient(top, #FF9933 0%, #f07800 100%);
  background-image: -moz-linear-gradient(top, #FF9933 0%, #f07800 100%);
  background-image: -o-linear-gradient(top, #FF9933 0%, #f07800 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF9933), color-stop(1, #f07800));
  background-image: -webkit-linear-gradient(top, #FF9933 0%, #f07800 100%);
  background-image: linear-gradient(to bottom, #FF9933 0%, #f07800 100%); }
.upload-progress-bar .send-desc {
  margin-top: 15px;
  font-size: 9pt; }
.upload-progress-bar .cancel-upload {
  float: right;
  margin-top: 15px;
  background: #E02D4E;
  padding: 3px 10px;
  color: white;
  font: bold 9pt/1 'pigeosans','sinkinsans','droidsans',arial,sans-serif;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer; }
  .upload-progress-bar .cancel-upload:hover {
    background: #be1c3a;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  .upload-progress-bar .cancel-upload:active {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); }

.success-msg {
  padding: 15px;
  font: normal 12pt/1 'pigeosans', 'sinkinsans', 'droidsans', arial, sans-serif;
  background: #e0f0fc;
  border: solid 1px #c4e3f9;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #404040;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .success-msg.ng-hide {
    -ms-transform: scale(1, 0.3);
    -webkit-transform: scale(1, 0.3);
    -o-transform: scale(1, 0.3);
    -moz-transform: scale(1, 0.3);
    transform: scale(1, 0.3); }

.inbox-widget {
  height: auto; }

.widget-body.inbox-page {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg); }
.widget-body .inbox-empty {
  padding: 20px 35px;
  text-align: right; }
  .widget-body .inbox-empty .empty-quote {
    font: normal 14pt/1.5 'pigeosans','sinkinsans','droidsans', arial, sans-serif;
    color: #009999;
    margin-bottom: 10px; }
  .widget-body .inbox-empty .empty-message {
    margin: 60px auto;
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: solid 1px #e0e0e0;
    text-align: center;
    color: #0080f0;
    font: normal 13pt/1.5 'pigeosans','sinkinsans','droidsans', arial, sans-serif; }
.widget-body .file-block {
  padding: 20px 0;
  padding-right: 10px;
  border-top: solid 1px #e6e6e6; }
  .widget-body .file-block .file-container {
    padding: 0 30px;
    padding-right: 0; }
    .widget-body .file-block .file-container .icon {
      width: 40px;
      height: 40px; }
      .widget-body .file-block .file-container .icon img {
        width: 100%;
        height: auto; }
    .widget-body .file-block .file-container .file-name {
      width: 320px;
      overflow-wrap: break-word;
      font-size: 9pt;
      line-height: 1.6; }
      .widget-body .file-block .file-container .file-name a:hover {
        color: #009999; }
    .widget-body .file-block .file-container .file-type {
      float: right;
      width: 85px;
      border-left: solid 1px #d0d0d0;
      height: 40px;
      text-align: center;
      font: normal 11pt/1 'pigeosans','sinkinsans', sans-serif;
      color: #808080;
      height: 40px;
      line-height: 40px;
      vertical-align: middle; }
    .widget-body .file-block .file-container .file-sender {
      margin-top: 12px;
      font-size: 8pt;
      color: #707070; }
    .widget-body .file-block .file-container .send-time {
      margin-top: 9px;
      font-size: 7pt;
      color: #909090; }
    .widget-body .file-block .file-container .download-button {
      margin-top: 11px;
      color: #2696ea;
      cursor: pointer;
      background: none;
      border: none; }
      .widget-body .file-block .file-container .download-button:hover {
        color: #116db2; }
  .widget-body .file-block:hover {
    background-color: #fbfbfb; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:active, a:visited, a:link {
    color: inherit;
    text-decoration: none; }

.side-pane {
  background: #cb1e3e;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px; }
  .side-pane .top-portion {
    margin: 0;
    padding: 20px 10px;
    padding-right: 0;
    background: #404040;
    color: white; }

.app-logo {
  position: fixed;
  top: 10px;
  right: 10px; }

.contact-contain {
  width: 390px;
  border: solid 1px #e9e9e9;
  height: 380px;
  margin: 10% auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  -moz-box-shadow: 0 0 50px 0 #e0e0e0;
  -webkit-box-shadow: 0 0 50px 0 #e0e0e0;
  -o-box-shadow: 0 0 50px 0 #e0e0e0;
  -ms-box-shadow: 0 0 50px 0 #e0e0e0;
  box-shadow: 0 0 50px 0 #e0e0e0;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }
  .contact-contain .contact-block {
    height: 100px;
    width: 100px;
    margin: 10px;
    border: solid 1px #e2e2e2;
    text-align: center;
    font: normal bold normal 50pt/100px 'pigeosans','sinkinsans', arial, helvetica,sans-serif;
    color: #a0a0a0;
    vertical-align: middle;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s; }
    .contact-contain .contact-block:hover {
      background: #E02D4E;
      border-color: transparent;
      color: white; }
    .contact-contain .contact-block.animate-blocks {
      opacity: 1;
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    .contact-contain .contact-block .text {
      margin-top: inherit;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s; }
      .contact-contain .contact-block .text.ng-hide {
        margin-top: -60px; }
    .contact-contain .contact-block .text-over {
      color: #fff;
      margin-bottom: 0;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s; }
      .contact-contain .contact-block .text-over.ng-hide {
        margin-bottom: -60px; }
  .contact-contain.animate-contacts {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg); }

.user-panel {
  position: fixed;
  top: 21%;
  right: 0;
  width: 60px;
  height: 210px;
  background: #454545;
  -moz-box-shadow: 0 0 3px 0 #101010;
  -webkit-box-shadow: 0 0 3px 0 #101010;
  -o-box-shadow: 0 0 3px 0 #101010;
  -ms-box-shadow: 0 0 3px 0 #101010;
  box-shadow: 0 0 3px 0 #101010;
  -moz-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  color: white;
  font-size: 18pt;
  text-align: center;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none; }
  .user-panel div.glyphicon {
    display: block;
    height: 70px;
    width: 60px;
    line-height: 70px;
    vertical-align: center;
    cursor: pointer;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .user-panel div.glyphicon:hover {
      background: #d41f41;
      -moz-box-shadow: 0 0 5px 0 #373737;
      -webkit-box-shadow: 0 0 5px 0 #373737;
      -o-box-shadow: 0 0 5px 0 #373737;
      -ms-box-shadow: 0 0 5px 0 #373737;
      box-shadow: 0 0 5px 0 #373737; }
  .user-panel .enlarge-icon {
    font-size: 22pt;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s; }
  .user-panel .enlarge-icon-remove {
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s; }

.home-frame-container {
  position: absolute;
  min-width: 900px;
  min-height: 50px;
  height: 100%;
  width: 100%; }

.logout-msg {
  position: absolute;
  bottom: 2px;
  width: 300px;
  right: 70px;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
  opacity: 1; }
  .logout-msg.ng-hide {
    opacity: 0; }

.identity-container {
  font: normal 9pt/1 'sinkinsans', 'droidsans', arial, sans-serif; }
  .identity-container .user-dp {
    width: 70px;
    height: 70px;
    -moz-border-radius: 70px;
    -o-border-radius: 70px;
    -ms-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    overflow: hidden;
    -ms-transform: scale(0.2, 0.2);
    -webkit-transform: scale(0.2, 0.2);
    -o-transform: scale(0.2, 0.2);
    -moz-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2); }
    .identity-container .user-dp img {
      width: 100%;
      height: auto; }
    .identity-container .user-dp.animate-dp {
      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -ms-transition: all linear 0.5s;
      -o-transition: all linear 0.5s;
      transition: all linear 0.5s;
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      transform: scale(1, 1); }
  .identity-container .user-identity {
    width: 110px;
    overflow-wrap: break-word; }

.sp-links {
  margin: 30px 40px;
  margin-bottom: 50px;
  font: normal 14pt/1 'pigeosans','sinkinsans','droidsans', arial, sans-serif;
  color: white;
  text-decoration: none; }
  .sp-links .glyphicon {
    margin-right: 8px;
    font-size: 14pt; }
  .sp-links a:hover {
    color: #ed8699; }
  .sp-links.home-link {
    padding-bottom: 20px;
    border-bottom: solid 1px #e33f5d; }

.notification {
  position: absolute;
  z-index: 1;
  margin-top: 13px;
  margin-left: 32px;
  background-color: #E02D4E;
  width: 25px;
  height: 25px;
  font: normal 11pt/25px 'pigeosans', 'sinkinsans', 'droidsans', arial, sans-serif;
  vertical-align: middle;
  color: white;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center; }

/*# sourceMappingURL=homeframe.css.map */
