/*

style for authentication-panel at homepage

*/

.auth-panel-container {
	position:fixed;
	top:0;
	right:-50%;
	width:50%;
	height:100%;
	text-align:center;
	z-index:7;
	background:rgba(224,240,252,1);
	@include shadow(#606070, 5px, 0);
	/*
	&.show-auth-add, &.show-auth {
		display:block;
	}*/
	
	.auth-box {
		width:88%;
		height: 100%;
		margin: 0 auto;
		/*
		&.ng-hide-add, &.ng-hide-remove {
			@include transition(all linear 0.3s);
		}
		&.ng-hide {
			@include scaleTransform(0.4,0.4);
		}
		*/
	}
	/*
	&.ng-hide-add, &.ng-hide-remove {
		@include transition(all linear 0.2s);
	}
	
	&.ng-hide {
		@include transition(all linear 0.2s);
	}*/
	
/* 	&.ng-hide { */
/* 		opacity:0; */
/* 	} */
	
	.exit-button {
		width:60px;
		margin:20px 0px;
		color: white;
		font: normal 13pt/1 'BoroHero', arial, sans-serif;
		@include radius(4px);
		border: solid 1px #808080;
		color: #808080;
		padding:4px;
		cursor:pointer;
		
		&:hover {
			background: #f08080;
			border: solid 1px #f08080;
			color: white; 
		}
	}
	
	.auth-desc {
		margin:40px auto;
		font: normal 23pt/1 'BoroHero', sinkinsans, arial, sans-serif;
		color: darken($sweet-blue, 5);
		padding-bottom: 20px;
		border-bottom: solid 1px #d0d0ff;
	}
	
	
	.description {
		font: normal 13pt/1.4 'BoroHero', arial, sans-serif;
		width:380px;
		margin: auto;
		color:#606070;
	}
	
	.extra-description {
		position: absolute;
		bottom: 0;
		text-align: center;
		margin: 0 12%;
		padding: 10px 30px;
		padding-bottom: 25px;
		border-top: solid 1px #d0d0d0;
		font: normal 8pt/1.6 sinkinsans, arial, sans-serif;
		color: #555;
		opacity:1;
		@include transition(all linear 0.5s);
		&.ng-hide {
			opacity:0;
		}
	}
	
	.signon-form {
		margin:15px auto;
		width:400px;
		font: normal 14pt/1.6 'BoroHero', arial, sans-serif;
		text-align:center;
		
		.country-list {
			width:100%;
			color: #606060;
			background: lighten($sweet-blue,20);
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			@include radius(0);
			padding:10px;
			text-align: left;
			color:white;
			cursor: pointer;
			font-size:13pt;
		}
		
		input {
			padding: 10px;
			margin-top:10px;
			font: normal 14pt/1.6 'BoroHero', arial, sans-serif;
			color: #404060;
			&.dialcode-list {
				width: 55px;
				color: #0890f0;
			}
			
			&.phone-num {
				width: 298px;
			}
		}
	}
	
	button {
			display: block;
			background: none;
			padding:10px;
			padding-bottom:0;
			line-height:1;
			margin:10px auto;
			font-size: 32pt;
			color: $sweet-blue;
			cursor: pointer;
			@include transition(all linear 0.3s);
			
			&.hide-button {
				opacity:0;
				@include translate(200px,0);
			}
		}
	
	.error-disp {
		font: normal 11pt/1.5 'BoroHero', arial, sans-serif;
		color: $my-red;
		padding:10px;
		border-right: solid 4px lighten($my-red, 20);
		background: lighten($my-red, 44);
		margin-top: -60px;
		
		@include transition(all linear 0.2s);
		
		&.ng-hide {
			opacity:0;
			@include translate(-200px, 0);
		} 
		
		&.little {
			font-size: 9pt;
			padding: 3px;
		} 
	}
	
	.auth-loader {
		margin-top: -53px;
		
		@include transition(all linear 0.3s);
		
		&.ng-hide {
			opacity:0;
			@include scaleTransform(0.2, 0.2);		
		}
	}
}

.code-verify-scene {
	
	.quote {
		margin: 15px auto;
		margin-bottom:30px;
		padding:20px;
		color: #4080d0;
		font: normal 16pt/2.5 'BoroChunkFive', arial, sans-serif;
		
		border-bottom: solid 1px #d0d0ff;
		
		.credit {
			margin-top: 5px;
			font-size:11pt;
			font-style: italic;
		}
	}
	
	input.code-quantum-inpt {
		margin:15px 5px;
		margin-bottom: 10px;
		width:50px;
		@include vertCenter(50px);
		background: white;
		font: normal 16pt/1 'BoroChunkFive', 'BoroHero', arial, sans-serif;
		text-align:center;
		color: $sweet-blue;
		@include radius(40px);
		border: solid 1px lighten($sweet-blue,30);
	}
	
	button {
		color: lighten(#8f90cf,3);
		margin-top: 4px;
		
		@include transition(all linear 0.2s);
		
		&.ng-hide {
			opacity:0;
			@include scaleTransform(0.4,0.4);
		}
	}
	
	.error-disp {
		margin-top: 15px;
	}
	
	.auth-loader {
		margin-top: 10px;
	}
}

.scene {
	@include transition(all linear 0.3s);
	&.credential-scene.ng-hide {
		opacity:0;
		@include scaleTransform(0.4,0.4);
	}
	&.code-verify-scene.ng-hide {
		opacity:0;
		@include scaleTransform(0.4,0.4);
	}
}

.resend-code {
	font-size: 10pt;
	height:15px;
	
	.timer {
		min-width:17px;
		text-align:center;
		margin:0;
		padding:0;
	}
	
	.resend-button {
		text-align:center;
		background: #b0b0b0;
		padding:3px;
		@include radius(3px);
		color:white;
		
		&.active {
			background: lighten($sweet-blue,20);
			cursor: pointer;
		}
		&.wait {
			background: lighten($rumy-green,20);
			cursor: pointer;
		}
	}
	
	.resendtext {
		max-width:150px;
		max-height:15px;
		overflow:hidden;
		&.ng-hide-add, &.ng-hide-remove {
			@include transition(all linear 0.2s);
		}
		
		&.ng-hide {
			max-width:0;
			opacity:0;
		}
	}
	
	@include transition(all linear 0.2s);
	&.ng-hide {
		opacity:0;
		@include scaleTransform(0.4,0.4);
	}
	
}	

.voice-call-request {
	margin: 20px auto;
	margin-bottom: 10px;
	font: normal 13pt/1 'BoroHero', arial, sans-serif;
	color: #555;
	text-align:center;
	opacity: 1;
	
	.std-button {
		width: 160px;
		margin: 10px auto;
		font-size: 11pt;
		padding: 5px;
		
		i {
			margin-right: 5px;
		}
		
		@include transition(all linear 0.1s);
		
		&.no-processing:hover {	
			@include scaleTransform(1.03, 1.03);
			background: lighten($sweet-blue,7);
		}
		
	}

	
	.error-disp {
		width: 230px;
		margin: 0 auto;
	}
	
	@include transition(all linear 0.2s);
		
	&.ng-hide {
		@include translate(-80px, 0);
		opacity:0;
	}
		
}	