.widget-body.contact-body {
	
	font: normal 10pt/1 'sinkinsans', arial, helvetica, sans-serif;
	
	.contact-upper-widget {
		@include transition(all linear 0.2s);
		@include translate(0, -290px);
		
		&.show-add-contact {
			@include translate(0, 0);
		}
	}
	
	.contact-utility-bar {
		color: #808080;
		padding:15px 10px;
		font: normal 14pt/1 'sinkinsans', arial, helvetica;
		background: #fbfbfb;
		border-bottom: solid 1px #f0f0f0;
		width:100%;
		display:flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items:center;
		
		input {
			flex: 0 1 auto;
			width:100%;
			background: #fbfbfb;
			font-size:9pt;
			padding:5px;
			border-bottom: solid 1px lighten($sweet-blue,35);
		}
		span {
		 flex: 0 2 auto;
		 margin: 0 15px;
		 margin-right:5px;
		 cursor:pointer;
		 @include transition(all linear 0.1s);
		 color: $sweet-blue;
		 
		 &:hover {
		 	color: darken($sweet-blue,10);
		 	@include scaleTransform(1.2,1.2);
		 }
		 
		 &.ng-hide {
		 	@include scaleTransform(0.1,0.1);
		 }
		}
	}
}

.add-contact-container {
	background: $my-red;
	height:290px;
	opacity:0;
	
	.contact-name-container, .contact-detail-container,
	 {
		padding: 16px;
	}
	.add-contact-button-container {
		padding: 10px 16px;
	}
	
	.contact-name-container {
		padding-bottom: 20px;
		border-bottom: solid 2px darken($my-red, 10);
	}
	
	.divider-text {	
		padding-top: 16px;
		padding-left:7px;
		padding-bottom:6px;
		color:lighten($my-red, 43);
	}
	
	@include transition(all linear 0.2s);
	&.show-add-contact {
		opacity:1;
	}
	
	
	table {
		width:100%;		
	}
	
	td.dialcode {
		width:25%;
	}
	td.phone {
		width:75%;
	}
	
	
}

.add-contact-button {
		text-align:right;
		
		font: normal 11pt/1 'sinkinsans', arial, sans-serif;
		padding: 15px 20px;
		background: lighten($rumy-green,20);
		border: solid 1px lighten($rumy-green, 15);
		color:white;
		cursor: pointer;
		
		@include transition(all linear 0.2s);
		
		&.ng-hide {
			@include translate(0, 20px);
			opacity:0;
		}
		
		&:hover {
			background: lighten($rumy-green,25);
		}
		
		&.adding-contact {
			cursor: not-allowed;
			background: #d0d0d0;
		}
	}
	
.add-contact-error {
	background: #a0a0a0;
	color:white;
	font: normal 9pt/1 'sinkinsans', arial, sans-serif;
	text-align:center;
	padding: 15px 6px;
	@include transition(all linear 0.2s);
	
	&.ng-hide {
			@include translate(0, -20px);
			opacity:0;
		}
}

input.contact-input {
	padding: 6px;
	background: $my-red;
	color:white;
	width:93%;
	font: normal 10pt/1 'sinkinsans', arial, helvetica, sans-serif;
	border-bottom: solid 1px lighten($my-red, 30);
	display:block;
	@include placeholder(lighten($my-red, 30));
	 
}

.contact-added {
	position:absolute;
	bottom:0;
	padding: 24px 5px;
	width:100%;
	text-align:center;
	background: $sweet-blue;
	color:white;
	@include transition(all linear 0.2s);
	
	&.ng-hide {
		opacity:0;
		@include translate(0, 30px);
	}
}
.loader {
	text-align:center;
}

.no-contact-message {
	text-align:center;
	padding: 15px;
	margin:20px auto;
	font-size: 14pt;
	line-height:2.5;
	color: #a0a0a0;
	
	.sad-emoji {
		font-size: 30pt;
		line-height:2;
	}
	.no-contact-desc {
		font-size: 9pt;
		line-height: 1.8;
	}
	
}

.contactlist-error {
	text-align:center;
	padding: 15px;
	margin:20px auto;
	color: $my-red;
	font-size: 10pt;
	span {
		font-size: 15pt;
	}
}

.contact-upload {
	visibility: hidden;
	margin-top:-10px;
}

.contactlist-container {
	@include transition(all linear 0.2s);
	@include translate(0, -290px);
	margin: 0px auto;
	
	&.show-add-contact {
			@include translate(0, 0);
		}
	
	td {
		vertical-align: middle;
		padding-left:10px;
	}
	.contactlet {
		padding: 10px 5px;
		border-bottom: solid 1px #e0e0e0;
		cursor: pointer;
		&:hover {
			border-bottom: solid 1px $sweet-blue;
			background: lighten($sweet-blue,50);
		}
	}
	.contact-picture {
		width:70px;
		height:70px;
		@include radius(70px);
		overflow:hidden;
		img {
			margin-top:-5px;
			margin-left:-5px;
		}
	}
	.contact-name {
		font-size: 13pt;
		line-height:1.6;
	}
	.recipient-candidate {
		font-size: 8pt;
		color: #707070;
		font-style: italic;
		line-height:1.6;
	}
}