.inbox-widget {
	height:auto;
}
.widget-body {
	
	&.inbox-page {
		
		@include transform3d(0deg);
	}
	
	.inbox-empty {
		padding:20px 35px;
		text-align: right;
		.empty-quote {
			font: normal 14pt/1.5 'pigeosans','sinkinsans','droidsans', arial, sans-serif;
			color: #009999;
			margin-bottom:10px;
		}
		
		.empty-message {
			margin:60px auto;
			margin-bottom:20px;
			padding-top:30px;
			border-top: solid 1px #e0e0e0;
			text-align:center;
			
			color: $sweet-blue;
			font: normal 13pt/1.5 'pigeosans','sinkinsans','droidsans', arial, sans-serif;
		}
	}
	
	.file-block {
		padding: 20px 0;
		padding-right:10px;
		border-top: solid 1px #e6e6e6;
		
		.file-container {
			padding: 0 30px;
			padding-right:0;
			
			.icon {
			width: 40px;
			height:40px;
			img {
				width:100%;
				height:auto;
				}
			}
			
			.file-name {
				width: 320px;
				overflow-wrap: break-word;
				font-size:9pt;
				line-height: 1.6;
				a:hover {
					color: #009999;
				}
			}
			
			.file-type {
				float:right;
				width: 85px;
				border-left: solid 1px #d0d0d0;
				height: 40px;
				text-align:center;
				font: normal 11pt/1 'pigeosans','sinkinsans', sans-serif;
				color: #808080;
				@include vertCenter(40px);
			}
			
			.file-sender {
				margin-top:12px;
				font-size:8pt;
				color: #707070;
			}
			
			.send-time {
				margin-top: 9px;
				font-size:7pt;
				color: #909090;
			}
			
			.download-button {
				margin-top: 11px;
				color: darken($light-blue,40);
				cursor: pointer;
				background:none;
				border:none;
				
				&:hover {
					color: darken($light-blue,55);
				}
			}
			
		}
		
		&:hover {
			background-color: #fbfbfb;
		}
		
	}
}

