.inbox-widget, .inbox-sender-widget,.sent-container {
	height:auto;
	font: normal 11pt/1 'sinkinsans','droidsans', arial, sans-serif;
}
.widget-body {
	
	.inbox-empty, .outbox-empty {
		padding:20px 35px;
		text-align: right;
		.empty-quote {
			font: normal 14pt/1.5 'pigeosans','sinkinsans','droidsans', arial, sans-serif;
			color: #009999;
			margin-bottom:10px;
		}
		
		.empty-message {
			margin:60px auto;
			margin-bottom:20px;
			padding-top:30px;
			border-top: solid 1px #e0e0e0;
			text-align:center;
			
			color: $sweet-blue;
			font: normal 13pt/1.5 'pigeosans','sinkinsans','droidsans', arial, sans-serif;
		}
	}
	
	.file-block {
		padding: 20px 0;
		padding-right:10px;
		border-bottom: solid 1px #e6e6e6;
		cursor:default;
		
		.file-container {
			padding: 0 30px;
			padding-right:0;
			
			table {
				width:100%;
			}
			
			td {
				
				vertical-align:top;
				
				&.icon {
					width: 45px;
				} 
				
				&.td-file-desc {
					padding: 0 10px;
					overflow-wrap: break-word;
				}
				
				&.file-type {
					width: 20%;
					vertical-align:middle;
					border-left: solid 1px #d0d0d0;
					text-align:center;
					padding: 0 10px;
					
				}
			}
			
			.icon {
				width: 40px;
				height:40px;
				
				img {
					width:100%;
					height:auto;
				}
			}
			
			.file-name {
				display: inline-block;
				overflow-wrap: break-all;
				word-break: break-all;
				font-size:9pt;
				line-height: 1.6;
				a:hover {
					color: #009999;
				}
			}
			
			div.file-type {
				display: inline-block;
				text-align:center;
				font: normal 11pt/1 'pigeosans','sinkinsans', sans-serif;
				color: #808080;
				@include vertCenter(40px);
			}
			
			.file-sender {
				margin-top:12px;
				font-size:8pt;
				color: #707070;
			}
			
			.delivery-status {
				font-size: 16pt;
				color: darken($sweet-blue,8);
				
				&.seen {
					color: lighten($rumy-green, 12);
				}
			}
			
			.send-time {
				margin-top: 9px;
				font-size:7pt;
				color: #909090;
			}
			
			.download-button {				
				margin-top: 11px;
				color: darken($light-blue,40);
				cursor: pointer;
				background:none;
				border:none;
				
				&:hover {
					color: darken($light-blue,55);
				}
			}
			
		}
		
		&:hover {
			background-color: #fbfbfb;
		}
		
	}
}

.outbox-content {
	.file-block {
		.file-container {
			td.lower-download-row {
				vertical-align: bottom;
			}
		}
	}
	
	
	.link-views {
		vertical-align:middle;
		text-align:right;
		color: lighten($rumy-green, 10);
		font-size: 10pt;
	}
}

.file-block {
	&.sender {
	 cursor: pointer;
	}
	.sender-picture {
		width: 50px;
		height: 50px;
		overflow:hidden;
		@include radius(50px);
		img {
			margin-top: -15px;
			margin-left: -15px;
		
		}
	}	
	table {
		width: 100%;
	}
	td {
		vertical-align: middle;
		padding-right: 10px;
		
		
		&.sender-picture-cell {
			width:60px;
		}
		
		&.new-files-cell {
			max-width: 70px;
			vertical-align:bottom;
			text-align:right;
		}
	}
	
	.sender-identity {
		font-size: 13pt;
		line-height: 2;
	}
	.total-files {
		font-size: 10pt;
		color: #707070;
		font-style: italic;
		line-height:2;
	}
	
	.last-sent-time {
		font-size: 9pt;
		font-weight: bold;
		color: #509050;
		line-height:2;
	}
	.new-files {
		display:inline-block;
		background: lighten($rumy-green, 20);
		color:white;
		text-align:center;
		height:30px;
		line-height:30px;
		vertical-align:middle;
		width:30px;
		@include radius(30px);
	}
}

.inbox-sender-widget {
	.sender-pic {
		height: 430px;
		width: 430px;
		overflow: hidden;
		@include radius(430px);
		
		img {
			margin-top: -15px;
			margin-left:-15px;
		}
	}
}

