.widget-container {
	
	@include transform3d(180deg, X);
	@include transition(all linear 0.3s);
	
	&.animateWidget {
		@include transform3d(0deg, X);
	}
	
	
	.widget-header {
		position:relative;
		z-index:1;
		font: normal 15pt/1 'sinkinsans', arial, helvetica;
		color: #606060;
		padding:8px 20px;
		background: #f4f4f4;
		border-bottom: solid 1px #e4e4e4;
		@include shadow(#a0a0a0, 5px, 0);
		.widget-icon {
			width: 50px;
			float:right;
			font-size: 15pt;
			color: #707070;
			text-align: right;
			
			@include vertCenter(50px);
		}
	}
}


.upload-button-container {
	margin-left: 50px;
	margin-bottom:8px;
	padding: 6px 5px;
	border:solid 1px #e7e7e7;
	@include radius(3px);
	background:#f7f7f7;
	color: #5879b0;	
	cursor:pointer;
	width:140px;
	text-align:center;
	.glyphicon {
		font-size: 20px;
	}
	
	&:hover {
		background: #f0f0f0;
	}
	
}

.inpt-upload {
	&.photo {
		position:relative;
		margin-top: -42px;
		margin-right: 7px;
		float:right;
		width: 141px;
		font-size: 25px;
		overflow:hidden;
		opacity:0;
		cursor:pointer;
	}
}

.widget-error {
			position:absolute;
			top:40px;
			right:25px;
			width :150px;
			font-size: 11px;
			line-height:1.6;
			background: #f0d090;
			padding:5px;
			border-radius: 3px;
			border: solid 1px darken(#f0d090,9);
			@include transition(all linear 0.3s);
			
			&.ng-hide {
				@include transform3d(90deg,Y);
			}
		}
