<div class="gen-dialog auth-problem-panel" ng-show="panels.isClicked(3)" ng-class="visibility">
	<div class="dialog-head ap-head-panel">
		Please specify your problem.
		<div class="small-cross" ng-click="panels.showPanel(2)">X</div>
	</div>
	<div class="dialog-middle ap-middle-panel" ng-show="panels.isClicked(3)">
		<ul class="auth-prob-list-container">
			<li ng-repeat="problem in authProb.problist" ng-click="authProb.selectChoice($index+1)" ng-class="checkedClass[$index]">
				<span class="glyphicon glyphicon-play-circle" ng-hide="authProb.isChecked($index+1)"></span>
				<span class="glyphicon glyphicon-ok-sign" ng-show="authProb.isChecked($index+1)"></span>
				{% verbatim %} {{problem}} {% endverbatim %}
			</li>
		</ul>	
	</div>
	<div class="dialog-lower ap-lower-panel">
		<input type="button" class="pgo-button medsize" value="Next">
	</div>
</div>