 {% load staticfiles %}
 <div class="back-cover-container">
            <img src="{% static 'resource/splash/team-splash-3.jpg' %}" alt="" />
        </div>
        <div class="img-cover"></div>
        <div class="team-outer">
            <div id="team-title-container" class="inline-top">
        	<div id="team-title">
        		The Postmen
        	</div>
        	<div id="team-title-desc">
        		Well, it should have been postwomen. But you see, we respect men.
        	</div>
            </div>
            <div id="team-container" class="inline-top">
        	<div class="dp-cover" id="lov-cover"></div>
        	<div class="dp-cover" id="gun-cover"></div>
        	
        	<div class="teamlet-container">
        		<div class="inline-middle team-dp">
        			<img src="{% static 'resource/picture/team/gun.jpg' %}" alt="">
        		</div>
        		<div class="inline-middle team-desc">
        			<div class="name">Gunjan</div> 
        			<div class="desig">Backend</div>
        		</div>
        		
        	</div>
        	<div class="teamlet-container">
        		<div class="inline-middle team-dp">
        			<!--<img src="" alt="" />-->
        		</div>
        		<div class="inline-middle team-desc">
        			<div class="name">Alpika</div> 
        			<div class="desig">Frontend</div>
        		</div>
        	</div>
        	
            </div>
            <span class="stretch"></span>
        </div>
        <div class="back-link"><a class="gen" ng-click="back()">Back</a></div>