{% load staticfiles %}
<div class="home-frame-container" ng-init="init()">
		<div class="top-pane">
			<div class="user-desc-portion inline-middle">
			  <div class="identity-container">
			  	<table>
			  	<tr>
			  	<td>
			  	<div class="user-dp inline-middle" ng-class="dpClass">
					<img ng-src="{% verbatim %}{{hfCtrl.data.photo.small}}{% endverbatim %}">	
				</div>
				</td>
				<td>
				<div class="user-identity inline-middle">
					{% verbatim %}
						{{hfCtrl.data.identity}}
					{% endverbatim %}
				</div>
				</td>
				</tr>
				</table>
			  </div>
				
			</div>
			<div class="progress-bar-main-container">
				<div class="progress-bar-inner" ng-show="showProgress">
					<div class="progress-bar" ng-style="{'width': progress+'%'}"></div>
					<div class="send-desc-container">
						<div class="send-count-desc inline-middle">
							{% verbatim %} {{current_count}} / {{total_count}} {% endverbatim %}
						</div>
						<div class="send-desc inline-middle">
							Sending {% verbatim %} 
								<span class="bold"> {{filename}} </span> : 
								{{progress + '%'}} 
								{% endverbatim %}
						</div>
					</div>
					<div class="cancel-upload inline-middle" title="Cancel sending" ng-click="hfCtrl.cancelSending()">
				  		<span class="glyphicon glyphicon-remove"></span>
					</div>
				</div>
				<div class="file-send-notice-box success" ng-show="showSuccess">
					File(s) sent successfully.
				</div>
				<div class="file-send-notice-box error" ng-show="showError">
					{% verbatim %}{{errorMessage}} {% endverbatim %}
				</div>
			</div>
			<!-- 
			<div class="sp-links home-link">
				<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
			</div>
			<div class="sp-links">
				<a href="/"><span class="glyphicon glyphicon-user"></span> Contacts</a>
			</div>
			<div class="sp-links">
				<a ui-sref="homeframe.send"><span class="glyphicon glyphicon-send"></span> Send</a>
			</div>-->
			<div class="user-panel inline-middle" ng-controller="userPanelController as upCtrl">
				<div class="notification" 
					ng-show="hfCtrl.data.file.newcount!=0">
						{% verbatim %}
							{{hfCtrl.data.file.newcount}}
						{% endverbatim %}
				</div>
				{% csrf_token %}
				<div ng-repeat="icon in userPanelIcons" 
					ng-class="userPanelClass[$index]" ng-mouseover="upCtrl.userPanelAnimate(1,$index)"
					ng-mouseout="upCtrl.userPanelAnimate(0,$index)" 
					ng-mousedown="upCtrl.userPanelAnimate(0,$index)"
					ng-mouseup="upCtrl.userPanelAnimate(1,$index)"
					ng-click="upCtrl.upDispatch($index)"
					class="glyphicon {% verbatim %}{{icon}}{% endverbatim %}">
				</div>
			
				<div class="logout-msg" ng-show="logoutMsgToggle">
					{% verbatim %}{{upCtrl.logoutMsg}}{% endverbatim %}
				</div>
			</div>
		</div>
		
		
    	<!--<route-loader></route-loader>-->
    	<div class="app-modules-container">
    		<div class="leftmod view-transit" ui-view="widgetLeft" ng-class="uiTransit"></div>
     		<div class="middlemod view-transit" ui-view="widgetMiddle" ng-class="uiTransit"></div>
     		<div class="rightmod view-transit" ui-view="widgetRight" ng-class="uiTransit"></div>	
    	</div>
     	
</div>