{% load staticfiles %}
<div class="widget-container inbox-widget" ng-class="animateWidget"
	ng-init="init()">
	<div class="widget-header">
		<div class="widget-title inline-middle">RECEIVED</div>
		<div class="widget-icon inline-middle">
			<span class="glyphicon glyphicon-folder-close"></span>
		</div>
	</div>
	<div class="widget-body inbox-page">
		<div class="inbox-empty" ng-show="isEmpty">
			<div class="empty-quote">
				"It is beautiful, it is endless, it is full <br />and yet seems
				empty."
			</div>
			- Jackson Pearce, <span class="italic">Fathomless</span>
			<div class="empty-message">Your inbox is empty.</div>
		</div>

		<div class="inbox-content" ng-show="!isEmpty">

			<div class="file-block" ng-repeat="file in inbxCtrl.user.file.lists">
				<div class="file-container">
					<div class="icon inline-top">
						<a target="_blank" 
						  ng-href="{% verbatim %}{{file.path}} {% endverbatim %}">
							<img src="{% static 'resource/icons/file-small.png' %}">
						</a>
					</div>
					<div class="file-type">
							{% verbatim %} 
									{{file.type}}
								{% endverbatim %}
						</div>
					<div class="file-desc inline-top">
						
						<div class="file-name">
							{% verbatim %} <a target="_blank" ng-href="{{file.path}}">
								{{file.name}} </a> {% endverbatim %}
						</div>
						<div class="file-sender italic">
							Sent by 
								 
								<span class="bold pale-blue" ng-if="file.sender_un">
									{% verbatim %} {{file.sender_un}} {% endverbatim %} 
								</span> 
								{% verbatim %}
								{{'('+ file.sender_phone+ ')'}} 
								{% endverbatim %}
						</div>
						<div class="send-time" title="{% verbatim %}{{file.tooltip}}{% endverbatim %}">
							{% verbatim %} {{file.time}} {% endverbatim %}
						</div>
						
						<form action="file/download" method="post">
						{% csrf_token %}
							
						<input type="hidden" name="fileid"
						 ng-value="{% verbatim %}{{file.id}}{% endverbatim %}">
						 
						<button class="download-button" type="submit">	
							<span class="glyphicon glyphicon-download-alt"></span>
								Download
						</button>
							
						</form>
					
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
